/* Colors */
 $fr-yellow: #fed02f;
 $fr-yellow-hover: #edc200;
 $fr-white: #fff;
 $fr-lt-gray: #767c7e;
 $fr-lt-gray2: #888b8d;
 $fr-lt-gray3: #9a999a;
 $fr-lt-gray4: #bcbcbc;
 $fr-gray: #414042;
 $fr-gray-border: #d9d9d9;
 $fr-brown: #8b7f79;
 $fr-green: #92aca0;
 $fr-green-hover: #82998e;
 $fr-green-dark: #505759;
 $fr-red: #fe4d2f;
 $fr-red-hover: #dc482f;
 $fr-lt-blue: #B9CCEA;
 $fr-pink: #ff6ed6;
 