/* Variables */
$seo-img: "frontiers-off-road-encounters";
$fr-text-1x: 1.34em;
$fr-text-half: $fr-text-1x * 0.8;
$fr-text-2x: $fr-text-1x * 2;
$fr-text-3x: $fr-text-2x * 1.10;

// Fonts 
$avenir-bold: "AvenirLTStd-Black";